<td>
    {{id}}
</td>
<td>
    <img src="/gfx/{{obrazek}}" alt="aa">
</td>
<td>
    {{name}}
</td>
<td>
    {{size}}
</td>
<td>
    {{type}}
</td>
<td><a id="tabA" href="/delete/?id={{id}}">delete</a></td>
<td><a id="tabA" href="/info/?id={{id}}">info</a></td>
<td><a id="tabA" href="/upload/{{nazwaUploadu}}" title='{{name}}' download="{{name}}">download</a>
</td>